# developer help reminders
comments.js

# Notepad++ backup files
*.bak

# temp files
*~

# Node Modules
node_modules/

# jQuery and JS map files
jquery*.js
*.map

# GitHub default .gitignore for Node projects
lib-cov
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz

pids
logs
results

npm-debug.log