# developer help reminders
comments.js

# Notepad++ backup files
*.bak

# Mac OS X file preview
.DS_Store

# temp files
*~

# Node Modules
node_modules/

# ENV data
.env

# GitHub default .gitignore for Node projects
lib-cov
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz

pids
logs
results

npm-debug.log
/nbproject/private/