doctype html
html(lang="de")
	head
		meta(charset="utf-8")
		title Startseite
		link(rel="stylesheet", type="text/css", href="/css/system-upload.css")
	body
		#logout
			a(href="/logout") abmelden
		h1 Mach was in der Datenbank …
		ul
			li Talente
				ul
					li
						a(href="/talent/liste") Übersicht der Talente
					li
						a(href="/talent/neu") Neues Talent
			li Zauber
				ul
					li
						a(href="/zauber/liste") Übersicht der Zaubersprüche
					li
						a(href="/zauber/neu") Neuer Zauberspruch
					li
						a(href="/variante/neu") Neue Zauber-Variante
			li Rituale
				ul
					li
						a(href="/ritual/liste") Übersicht der Rituale
					li
						a(href="/ritual/neu") Neues Ritual
			li Liturgien
				ul
					li
						a(href="/liturgie/liste") Übersicht der Liturgien
					li
						a(href="/liturgie/neu") Neue Liturgie
			li Daten runterladen
				ul
					li
						a(href="/dump/talent.json") Talente
					li
						a(href="/dump/zauber.json") Zauber
					li
						a(href="/dump/ritual.json") Rituale
					li
						a(href="/dump/liturgie.json") Liturgien
			li 
				a(href="/insert") Daten hochladen
