!!! 5
html(lang="de")
	head
		title Startseite
		style.
			body {
				font-family: Georgia;
			}
			li {
				padding: 0.3em;
			}
	body
		ul
			li
				a(href="/talent/liste") Übersicht der Talente
			li
				a(href="/talent/neu") Neues Talent
			li
				a(href="/zauber/liste") Übersicht der Zaubersprüche
			li
				a(href="/zauber/neu") Neuer Zauberspruch
			li
				a(href="/variante/neu") Neue Zauber-Variante