!!! 5
html(lang="de")
	head
		title Neue Zaubervariante
		link(rel="stylesheet", type="text/css", href="/system-new.css")
	body
		h1 Neue Zaubervariante:
		form#nesp(action="/variante/neu", method="post", accept-charset="utf-8")
			fieldset
				div
					label Variante des
					select.primary-field(size="1", name="zauber")
						each __spell in Zauber
							option(value=__spell._id)=__spell.Name
				div
					label(for="v_name") Name:
					input#v_name.primary-field(type="text", name="Name", required, style="width: 50%")
				div
					label(for="v_min") Mindest-ZfW:
					input#v_min(type="number", name="modifikation[minZfW]", min="1", step="1", value="")
				div
					label(for="v_promo") Probenmodifikator:
					input(type="text", name="modifikation[probe]", value="")
				div
					label(for="v_zd") Zauberdauer:
					input#v_zd(type="text", name="cast[ZD]", value="")
				div
					label(for="v_asp") Kosten:
					input#v_asp(type="text", name="cast[AsP]", value="")
				div
					label(for="v_wd") Wirkungsdauer:
					input#v_wd(type="text", name="cast[WD]", value="")
				div
					label(for="v_rw") Reichweite:
					input#v_rw(type="text", name="cast[RW]", value="")					
				div
					label Typ:
					input#typ(type="hidden", name="modifikation[typ]", value="")
					ul.indent
						li
							input(type="checkbox", value="A", id="typ_a")
							label(for="typ_a") Aufrechterhaltender Zauber
						li
							input(type="checkbox", value="M", id="typ_m")
							label(for="typ_m") wirkt gegen die Magieresistenz
						li
							input(type="checkbox", value="S", id="typ_s")
							label(for="typ_s") Erschwernis durch festgelegte Stufe (Gift, Beschwörungsschwierigkeit, etc.)
						li
							input(type="checkbox", value="X", id="typ_x")
							label(for="typ_x") situationsabhängige Erschwernis
				div
					label vorhanden in:
					ul.indent
						each __rep, __idx in Repräsentation
							li
								input(type="checkbox", name="Repräsentationen[]", value=__rep.short, id="rep"+__idx)
								label(for="rep"+__idx, title=__rep.short)= "("+__rep.short+") "+__rep.long
				button(type="submit") speichern
		script.
			$ = document.getElementById.bind(document);
			$('nesp').addEventListener('submit', function(evt) {
				var choices = $('typ').parentNode.querySelectorAll(':checked');
				var val = "";
				for (var i=0, l=choices.length; i<l; i+=1) {
					val += choices[i].value;
				}
				$('typ').value = val;
			});