mixin Probe3()
	- var Attr = ["MU", "KL", "IN", "CH", "FF", "GE", "KO", "KK"]
	- for (var i=3; i--;)
		select(size="1", name="probe")
			each val in Attr
				option= val


doctype 5
html
	head
		title Neues Talent
		script(type="text/javascript", src="/jquery-2.0.3.min.js")
		style.
			body {
				font-family: sans-serif;
			}
			label {
				float: left;
				width: 10em;
			}
	body
		h1 Neues Talent:
		form(action="/neu", method="post", accept-charset="utf-8")
			div
				label(for="t_name") Name
				input#t_name(type="text", name="name", placeholder="Talent-Name", required)
			div
				label Talentgruppe
				select.swap(size="1", name="typ")
					each val in kategorie
						option= val
				button#swap(type="button") &#8644;
				input.swap(type="text", name="typ", placeholder="Talentgruppe", disabled)
			div
				label Probe
				+Probe3()
			div
				label Spezialisierungen
				input(type="text", name="spezialisierungen")
				button#add(type="button") +
		script.
			$('#add').on("click", function() {
				var $this = $(this);
				$this.prev().clone().insertBefore($this);
			});
			$('#swap').on("click", function() {
				var $prev = $(this).prev(), $next = $(this).next();
				$prev.prop('disabled', !$prev.prop('disabled'));
				$next.prop('disabled', !$next.prop('disabled'));
			});