mixin Probe3()
	- var Attr = ["MU", "KL", "IN", "CH", "FF", "GE", "KO", "KK"]
	- for (var i=3; i--;)
		select(size="1", name="probe")
			each val in Attr
				option= val

doctype 5
html
	head
		meta(charset="utf-8")
		title Neues Talent
		script(type="text/javascript", src="/jquery-2.0.3.min.js")
		link(rel="stylesheet", type="text/css", href="/system-new.css")
	body
		#logout
			a(href="/logout") abmelden
		form(action="/talent/neu", method="post", accept-charset="utf-8")
			fieldset
				h1.mitte Neues Talent:
			fieldset
				div
					label(for="t_name") Name
					input#t_name.primary-field(type="text", name="name", placeholder="Talent-Name", required)
				div
					label Talentgruppe
					select.swap(size="1", name="typ")
						each val in kategorie
							option= val
					button#swap(type="button") &#8644;
					input.swap(type="text", name="typ", placeholder="Talentgruppe", disabled)
				div
					label Probe
					+Probe3()
				div
					label Lernstufe
					select#stufe(size="1", name="stufe")
						option A+
						option A
						option(selected) B
						option C
						option D
						option E
						option F
						option G
						option H
				div
					label Standard?
					input(type="checkbox", name="standard")
				div
					label Spezialisierungen
					ul.indent
						li
							button#add(type="button") +
			fieldset.submitter.mitte
				button(type="submit") speichern
				button(type="reset") zurücksetzen
		script.
			$('#add').on("click", function() {
				$('<li><input type="text" name="spezialisierungen"></li>').insertBefore(this.parentNode);
			});
			$('#swap').on("click", function() {
				var $prev = $(this).prev(), $next = $(this).next();
				$prev.prop('disabled', !$prev.prop('disabled'));
				$next.prop('disabled', !$next.prop('disabled'));
			});