!!! 5
html
	head
		title Neue Liturgie
		meta(charset="utf-8")
		script(type="text/javascript", src="/jquery-2.0.3.min.js")
		style.
			body {
				font-family: Georgia, sans-serif;
			}
			form > div {
				padding: 0.5em;
			}
			div > label {
				float: left;
				width: 10em;
			}
			ul {
				list-style-type: none;
			}
			.spez {
				list-style-type: none;
				margin: 0;
				margin-left: 10em;
				padding: 0;
			}
	body
		h1 Neue Liturgie:
		form#new(action="/liturgie/neu", method="post", accept-charset="utf-8")
			div
				label(for="l_name") Name
				input#l_name(type="text", name="name", placeholder="Liturgie-Name", required)
			div
				label(for="l_grad") Grad
				select#l_grad(name="grad", size="1")
					option(value="1", selected) I
					option(value="2") II
					option(value="3") III
					option(value="4") IV
					option(value="5") V
					option(value="6") VI
					option(value="7") VII
			div
				label(for="l_rd") Dauer
				select#l_wd(name="wd", size="1")
					option Stoßgebet
					option(selected) Gebet
					option Andacht
					option Zeremonie
					option Zyklus
				input#l_wd_sg(type="number", min="1", max="20", step="1", value="20", title="nur bei Stoßgebeten")
				| Aktionen
			div
				label(for="l_rw") Reichweite
				select#l_rw(name="rw", size="1")
					option selbst
					option Berührung
					option Sicht
					option fern
					option 13 m
			div
				label(for="l_wd") Wirkungsdauer
				input#l_wd(type="text", name="wd", placeholder="Wirkungsdauer", value="LkP* SR")
			div
				label(for="l_ziel") Ziel
				select#l_ziel(name="ziel", size="1")
					option(value="G") Geweihter
					option(value="P", selected) 1 Person/Objekt
					option(value="PP") ≤ 10 Pers./Obj.
					option(value="PPP") ≤ 100 Pers./Obj.
					option(value="PPPP") ≤ 1.000 Pers./Obj.
					option(value="P+P") 2 Personen gegenseitig
					option(value="P+PP") Person & Gruppe
					option(value="Z") ≤ 10 m
					option(value="ZZ") ≤ 100 m
					option(value="ZZZ") ≤ 1.000 m
					option(value="ZZZZ") ≤ 10 km
			div#gott
				label Zugehörigkeit
				div.spez
					button#zwoelf(type="button") zwölfgöttlich
					button#uni(type="button") universell
					button(type="reset") zurücksetzen
				each __name, __typ in $Liste
					ul.spez
						li
							strong=__typ
						each __gott, __idx in __name
							li
								input(type="checkbox", name="typ[]", id="g"+__idx, value=__gott)
								label(for="g"+__idx)=__gott
		script.
			document.getElementById('new').addEventListener("submit", function(evt) {
				var wd = document.getElementById('l_wd');
				var sg = document.getElementById('l_wd_sg');
				if (wd.value === "Stoßgebet") {
					wd.value += " (" + sg.value + " A)";
				}
			});
			$('#uni').on("click", function() {
				$('#gott input').prop('checked', true);
			});
			$('#zwoelf').on("click", function() {
				$('#gott ul:lt(2) input').prop('checked', true);
			});