!!! 5
html
	head
		meta(charset="utf-8")
		title Neue Liturgie
		link(rel="stylesheet", type="text/css", href="/dropout.css")
		link(rel="stylesheet", type="text/css", href="/system-new.css")
		script(type="text/javascript", src="/jquery-2.0.3.min.js")
		style.
			#gott button {
				width: 15em;
			}
	body
		#logout
			a(href="/logout") abmelden
		form#new(action="/liturgie/neu", method="post", accept-charset="utf-8")
			fieldset
				h1.mitte Neue Liturgie
			fieldset
				div
					label(for="l_name") Name
					input#l_name.primary-field(type="text", name="name", placeholder="Liturgie-Name", required)
				div
					label(for="l_grad") Grad
					select#l_grad(name="grad", size="1")
						option(value="1", selected) I
						option(value="2") II
						option(value="3") III
						option(value="4") IV
						option(value="5") V
						option(value="6") VI
						option(value="7") VII
				div
					label Ritualdauer
					.dropout(data-name="rd", data-options="Stoßgebet (20 A),Gebet,Andacht,Zeremonie,Zyklus", data-default="Gebet")
				div
					label Reichweite
					.dropout(data-name="rw", data-options="Selbst,Berührung,Sicht,Fern", data-default="Berührung")
				div
					label(for="l_wd") Wirkungsdauer
					input#l_wd(type="text", name="wd", placeholder="Wirkungsdauer", value="LkP* SR")
				div
					label Ziel
					.dropout(data-name="ziel", data-options="G,P,PP,PPP,PPPP,G+P,G+PP,P+P,P+PP,Z,ZZ,ZZZ,ZZZZ", data-default="P")
				div#gott
					label Herkunft
					button#uni(type="button") universell
					- var __count = 0
					each __name, __typ in $Liste
						- __count += 1
						ul.indent
							li
								button(type="button")=__typ
							each __gott, __idx in __name
								li
									input(type="checkbox", name="typ[]", id="g"+__count+"_"+__idx, value=__gott)
									label(for="g"+__count+"_"+__idx)=__gott
			fieldset.submitter.mitte
				button(type="submit") speichern
				button(type="reset") zurücksetzen
		script.
			document.getElementById('l_name').focus();
			$('#uni').on("click", function() {
				$('#gott input').prop('checked', true);
			});
			$('#gott').on("click", ".indent button", function() {
				var $boxes = $(this).closest('ul').find('input');
				$boxes.prop('checked', !$boxes.prop('checked'));
			});
			$('.dropout').each(function() {
				var $datasrc = $(this);
				var options  = $datasrc.data('options');
				var $text    = $('<input type="text"/>')
					.prop('name', $datasrc.data('name'))
					.val($datasrc.data('default'))
				;
				if (options && options.length) {
					var $ul   = $('<ul/>').addClass('options');
					var $down = $('<button type="button">▼</button>');
					options.split(',').forEach(function(item) {
						$('<li/>').text(item).appendTo($ul);
					});
					$down.on('click', function() {
						$ul.toggle();
					});    
					$ul.on('click', 'li', function() {
						$text.val(this.textContent);
						$ul.hide();
					});
					$(this).append($ul, $text, $down);
					var style   = $text.offset();
					style.top  += $text.outerHeight();
					style.width = $text.outerWidth() - 2;
					$ul.css(style);
				}
				else {
					$(this).append($text);
				}
			});
				