doctype 5
html(lang="de")
	head
		title AP vergeben
		link(rel="stylesheet", type="text/css", href="/show.css")
		style.
			button { 
				width: 20em; 
				height: 2em; 
				margin-top: 2em;
			}
	body
		// nav
		section
			h1.mitte Abenteuerpunkte vergeben
			form(action="/ap/"+_id, method="post", accept-charset="utf-8")
				input(type="hidden", name="_method", value="put")
				table.data-section.mitte.eigenschaften
					caption= held.Person.Name
					colgroup
						col(style="width: 15%")
						col(style="width: 35%")
						col(style="width: 15%")
						col(style="width: 35%")
					tbody
						tr
							th 
								label(for="alle") gesamt:
							td 
								input#alle.mitte(type="number", name="AP[alle]", min="0", value=AP.alle)
							th 
								label(for="frei") frei:
							td 
								input#frei.mitte(type="number", name="AP[frei]", min="0", value=AP.frei)
				.mitte
					button(type="submit") speichern