doctype html
html(lang="de")
	head
		meta(charset="utf-8")
		title Charakter-Übersicht
		link(rel="stylesheet", type="text/css", href="/list.css")
		style.
	body
		header
			h1 Liste der Charaktere
		main
			if _disabled
				h2 Gelöschte Charaktere wiederherstellen
			if _liste.length === 0
				p.mitte keine Charaktere in dieser Kategorie
			else
				ul
					each __held in _liste
						li
							form(action="/held/"+__held._id, method="post", accept-charset="utf-8")
								input(type="hidden", name="_method", value=_formData.method)
								a(href="/held/" + __held._id)= __held.Person.Name + " ( " + __held.AP.frei + " / " + __held.AP.alle.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ".") + " )"
								button(type="submit", class=_formData.class, title=_formData.title)!=_formData.sign
		footer.mitte
			hr
			.nav
				if _disabled
					a.blend(href="/helden") Aktive Charaktere
				else
					a.blend(href="/helden?deleted") Gelöschte Charaktere
				a.blend(href="/neu") Neuen Charakter anlegen
			hr
