doctype html
html(lang="de")
	head
		include inc-bootstrap
		title DCM – Anmeldung
		style.
			body {
				padding: 5em;
			}
	body
		.container
			.col-sm-6.col-sm-offset-3
				h1
					span.fa.fa-sign-in &nbsp;
					| Anmeldung
				if (message.length > 0)
					.alert.alert-danger=message
				form(action="/login", method="post")
					.form-group
						label(for="email") E-Mail
						input#email(type="text", name="email", required).form-control
					.form-group
						label(for="pass") Passwort
						input#pass(type="password", name="password", required).form-control
					button(type="submit").btn.btn-warning.btn-lg anmelden
				hr
				p Noch kein Benutzer?&nbsp;
					a(href="/signup") Registrieren!
				p Zurück zum 
					a(href="/") Anfang
			
				