doctype html
html(lang="de")
	head
		include inc-bootstrap
		title DCM – Registrierung
		style.
			body {
				padding: 5em;
			}
		script.
			var RecaptchaOptions = {
				lang : "de",
				theme: "clean"
			};
	body
		.container
			.col-sm-6.col-sm-offset-3
				h1
					span.fa.fa-sign-in &nbsp;
					| Registrierung
				if (message.length > 0)
					.alert.alert-danger=message
				form(action="/signup", method="post")
					.form-group
						label(for="un") Name
						input#un(type="text", name="display_name", required).form-control
					.form-group
						label(for="email") E-Mail
						input#email(type="text", name="email", required).form-control
					.form-group
						label(for="pass") Passwort
						input#pass(type="password", name="password", required).form-control
					.form-group
						label Anti-Bot-Maßnahme
						!=recaptcha
					button(type="submit").btn.btn-warning.btn-lg registrieren
				hr
				p Bereits registriert?&nbsp;
					a(href="/login") Anmelden!
				p Zurück zum 
					a(href="/") Anfang
			
				