doctype html
html(lang="de")
	head
		include inc-bootstrap
		title DCM – DSA Charakter Manager
		style.
			body {
				padding-top: 5em;
			}
			a {
				width: 9em;
			}
	body
		.container
			.jumbotron.text-center
				h1 DSA Charakter Manager
			.text-center
				a(href="/login").btn.btn-default
					span.fa.fa-user &nbsp;
					| Anmelden
				| &nbsp;
				a(href="/signup").btn.btn-default
					span.fa.fa-user &nbsp;
					| Registrieren
				| &nbsp;
				a(href="/auth/google").btn.btn-danger
					span.fa.fa-google-plus-square &nbsp;
					| Google
				| &nbsp;
				a(href="/auth/facebook").btn.btn-info
					span.fa.fa-facebook-square &nbsp;
					| facebook
				