include ../inc-mixins

doctype html
html(lang="de")
	head
		include ../inc-bootstrap
		title #{_Held.Person.Name.split(' ')[0]} bearbeiten – AP
		link(rel="stylesheet", href="/dcm-display.css")
		style.
			body {
				padding-top:      60px;
			}
			input {
				width:            100%;
			}
	body#top
		include inc/nav
		header.container
			.page-header.text-center
				h1=_Held.Person.Name
		main.container
			form(action="/ap/"+_Held._id, method="post", accept-charset="utf-8")
				input(type="hidden", name="_method", value="put")
				// Abenteuerpunkte
				section.panel.panel-default#ap
					.panel-heading.dcm-caption Abenteuerpunkte
					.panel-body.text-center
						.container-fluid
							.row.dcm-row
								.col-xs-6.col-sm-3.dcm-header
									label(for="alle") gesamt:
								.col-xs-6.col-sm-3
									input#alle.text-center(type="number", name="AP[alle]", min="0", step="1", value=_Held.AP.alle)
								.col-xs-6.col-sm-3.dcm-header
									label(for="frei") verfügbar:
								.col-xs-6.col-sm-3
									input#frei.text-center(type="number", name="AP[frei]", min=0-_Held.AP.alle, step="1", value=_Held.AP.frei)
				.well.text-center#save
					.row.dcm-row
						.col-sm-4.col-sm-offset-1
							button.form-control.btn.btn-success(type="submit") speichern
						.col-sm-4.col-sm-offset-2
							a.form-control.btn.btn-warning(href="/held/"+_Held._id) zurück
