include ../inc-mixins

doctype html
html(lang="de")
	head
		include ../inc-bootstrap
		title Waffenkammer
		link(rel="stylesheet", href="/dcm-display.css")
		style.
			body {
				padding-top: 60px;
			}
			input[type='number'] {
				width: 4em;
				text-align: center;
			}
			.form-control-inline {
				display: inline;
				width: auto;
			}
			.dcm-button {
				border: 1px solid gray;
				border-radius: 0.5em;
				padding-left:  0.4em;
				padding-right: 0.4em;
			}
			.dcm-button:hover {
				background-color: #eee;
			}
			.dcm-button:active {
				background-color: #111;
				border-color:     silver;
				color:            white;
			}
			label {
				min-width: 2.5em;
			}
	body#top
		// add a pill nav below and use CSS3 :target
		include inc/nav
		header.container
			.page-header.text-center
				h1=_Held.Person.Name
		main.container
			ul#tab-header.nav.nav-pills.nav-justified
				li
					a(href="#nahkampf", data-toggle="pill") Nahkampfwaffen
				li
					a(href="#linkhand", data-toggle="pill") Parierwaffen &amp; Schilde
				li
					a(href="#fernkampf", data-toggle="pill") Fernkampfwaffen
			.row
				.col-lg-12 &nbsp;
			.tab-content
				// Nahkampf
				section#nahkampf.tab-pane
					form.form-horizontal(action="/waffen/"+_Held._id, method="post", accept-charset="utf-8")
						input(type="hidden", name="_method", value="put")
						// template
						.panel.panel-default.dcm-template
							.panel-heading
								.form-group.dcm-row
									.col-xs-12.col-sm-6.col-md-5.col-md-offset-1
										label.sr-only Name
										input.form-control(type="text", name="Ausrüstung.Nahkampf[{index}][Name]", placeholder="Name")
									.col-xs-10.col-sm-4
										label.sr-only Talent
										select.form-control(name="Ausrüstung.Nahkampf[{index}][talent]")
											each __nk in _Nahkampf
												option=__nk.name
									.col-xs-2
										.checkbox-inline
											label
												input(type="checkbox")
												span.hidden-lg Spez.
												span.visible-lg Spezialisierung
							.panel-body
								.form-group.dcm-row
									label.control-label.col-xs-1 DK
									.col-xs-3.col-sm-2
										input.form-control.text-center(type="text", name="Ausrüstung.Nahkampf[{index}][DK]", value="N", placeholder="HNSP", size="3", maxlength="4")
									label.control-label.col-xs-1 BE
									.col-xs-3.col-sm-2
										input.form-control(type="number", name="Ausrüstung.Nahkampf[{index}][BE]", max="0", step="1", value="-2")
									label.control-label.col-xs-1.col-md-offset-1 BF
									.col-xs-3.col-sm-2.col-md-1
										input.form-control(type="number", name="Ausrüstung.Nahkampf[{index}][BF]", step="1", value="2")
									label.control-label.col-xs-1 INI
									.col-xs-5.col-sm-2
										input.form-control(type="number", name="Ausrüstung.Nahkampf[{index}][INI]", step="1", min="-5", max="5", value="0")
									label.control-label.col-xs-1 WM
									.col-xs-5.col-sm-3.col-md-2
										input.form-control.form-control-inline(type="number", name="Ausrüstung.Nahkampf[{index}][WM][AT]", step="1", min="-5", max="5", value="0")
										|  /
										input.form-control.form-control-inline(type="number", name="Ausrüstung.Nahkampf[{index}][WM][PA]", step="1", min="-5", max="5", value="0")
									label.control-label.col-xs-1 TP
									.col-xs-5.col-sm-3
										input.form-control.form-control-inline.text-center(type="text", name="Ausrüstung.Nahkampf[{index}][TP][roll]", value="1W6", size="3", maxlength="5", placeholder="n·W6", title="Anzahl Würfel")
										|  +
										input.form-control.form-control-inline(type="number", name="Ausrüstung.Nahkampf[{index}][TP][rollMod]", step="1", value="2")
									label.control-label.col-xs-1 TP/KK
									.col-xs-5.col-sm-3.col-md-2
										input.form-control.form-control-inline(type="number", name="Ausrüstung.Nahkampf[{index}][TP][kk]", step="1", min="5", value="11")
										|  /
										input.form-control.form-control-inline(type="number", name="Ausrüstung.Nahkampf[{index}][TP][kkMod]", step="1", min="1", max="10", value="3")
							.panel-footer.text-right
								a.btn.btn-default.del Waffe löschen
						.row
							.col-lg-12 &nbsp;
						.row.well.text-center
							.col-xs-4.col-xs-offset-1.col-lg-3.col-lg-offset-2
								button.btn.btn-success.form-control(type="submit") speichern
							.col-xs-4.col-xs-offset-2.col-lg-3
								button.btn.btn-warning.form-control(type="button") neue Waffe
					form.row.well(action="/waffen/Nahkampf/"+_Held._id, method="post", accept-charset="utf-8")
						.col-xs-8.col-xs-offset-2.col-sm-6.col-sm-offset-3.col-md-4.col-md-offset-4.text-center
							input(type="hidden", name="_method", value="delete")
							button.btn.btn-danger.form-control(type="submit") alle Nahkampfwaffen löschen
				// Parierwaffen / Schilde
				section#linkhand.tab-pane
					form.form-horizontal(action="/waffen/"+_Held._id, method="post", accept-charset="utf-8")
						input(type="hidden", name="_method", value="put")
						// template
						.panel.panel-default.text-center.dcm-template
							.panel-heading
								.row.dcm-row
									.col-xs-6.col-md-3.col-lg-4
										.dcm-header.dcm-border Bezeichnung
									.col-xs-6.col-md-3
										.dcm-header.dcm-border Typ
									.col-xs-6.col-md-3.col-lg-2
										.dcm-header.dcm-border WM
									.col-xs-6.col-md-3
										.col-xs-6
											.dcm-header.dcm-border BF
										.col-xs-6
											.dcm-header.dcm-border INI
							.panel-body
								.form-group.dcm-row
									label.sr-only Name
									.col-xs-6.col-md-3.col-lg-4
										input.form-control(type="text", name="Ausrüstung.Nahkampf[{index}][Name]", placeholder="Name")
									label.sr-only Talent
									.col-xs-6.col-md-3
										select.form-control(name="Ausrüstung.LinkeHand[{index}][talent]")
											option Schild
											option Parierwaffe
											option Schild / PW
									.col-xs-6.col-md-3.col-lg-2
										input.form-control.form-control-inline(type="number", name="Ausrüstung.LinkeHand[{index}][WM][AT]", step="1", min="-10", max="3", value="-1")
										|  /
										input.form-control.form-control-inline(type="number", name="Ausrüstung.LinkeHand[{index}][WM][PA]", step="1", min="0", max="5", value="2")
									.col-xs-6.col-md-3
										.col-xs-6
											input.form-control.form-control-inline(type="number", name="Ausrüstung.LinkeHand[{index}][BF]", step="1", value="2")
										.col-xs-6
											input.form-control.form-control-inline(type="number", name="Ausrüstung.LinkeHand[{index}][INI]", step="1", value="0")
							.panel-footer.text-right
								a.btn.btn-default.del Waffe löschen
						.row
							.col-lg-12 &nbsp;
						.row.well.text-center
							.col-xs-4.col-xs-offset-1.col-lg-3.col-lg-offset-2
								button.btn.btn-success.form-control(type="submit") speichern
							.col-xs-4.col-xs-offset-2.col-lg-3
								button.btn.btn-warning.form-control(type="button") neue Waffe
					form.row.well(action="/waffen/LinkeHand/"+_Held._id, method="post", accept-charset="utf-8")
						.col-xs-8.col-xs-offset-2.col-sm-6.col-sm-offset-3.col-md-4.col-md-offset-4.text-center
							input(type="hidden", name="_method", value="delete")
							button.btn.btn-danger.form-control(type="submit") alle Parierwaffen / Schilde löschen
				// Fernkampfwaffen
				section#fernkampf.tab-pane
					form.form-horizontal(action="/waffen/"+_Held._id, method="post", accept-charset="utf-8")
						input(type="hidden", name="_method", value="put")
						// template
						.panel.panel-default.dcm-template
							.panel-heading
								.form-group.dcm-row
									.col-xs-10.col-md-5
										label.sr-only Name
										input.form-control(type="text", name="Ausrüstung.Fernkampf[{index}][Name]", placeholder="Name")
									.col-xs-2.col-md-1
										.checkbox-inline
											label
												input(type="checkbox")
												| Spez.
									.col-xs-8.col-md-3
										label.sr-only Talent
										select.form-control(name="Ausrüstung.Fernkampf[{index}][talent]")
											each __nk in _Fernkampf
												option=__nk.name
									label.control-label.col-xs-2.col-md-1 Laden
									.col-xs-2.col-md-2
										input.form-control.text-center(type="text", name="Ausrüstung.Fernkampf[{index}][Laden]", placeholder="Ladezeit", value="4 A", size="5")
							.panel-body
								.form-group.dcm-row
									label.control-label.col-xs-2.col-md-1 WM
									.col-xs-3.col-md-1
										input.form-control(type="number", name="Ausrüstung.Fernkampf[{index}][WM][AT]", min="-1", max="2", step="1", value="0")
									label.control-label.col-xs-2.col-md-1 TP
									.col-xs-5.col-md-3
										input.form-control.form-control-inline.text-center(type="text", size="3", maxlength="5", placeholder="n·W6", value="1W6", title="Anzahl Würfel")
										|  +
										input.form-control.form-control-inline(type="number", name="Ausrüstung.Fernkampf[{index}][TP][rollMod]", step="1", min="-5" value="4")
									label.control-label.col-xs-2.col-md-1 BE
									.col-xs-3.col-md-1
										input.form-control(type="number", name="Ausrüstung.Fernkampf[{index}][BE]", max="0", step="1", value="-2")
									label.control-label.col-xs-2.col-md-1
										span.dcm-button(title="nur bei Wurfwaffen") TP/KK
									.col-xs-5.col-md-3
										input(type="hidden", name="Ausrüstung.Fernkampf[{index}][TP][kkAtt]", disabled)
										input.form-control.form-control-inline(type="number", name="Ausrüstung.Fernkampf[{index}][TP][kk]", step="1", min="5", value="11", disabled)
										|  /
										input.form-control.form-control-inline(type="number", name="Ausrüstung.Fernkampf[{index}][TP][kkMod]", step="1", min="1", max="10", value="3", disabled)
								.form-group.dcm-row
									label.control-label.col-xs-1.col-sm-2.col-md-1 DK
									.col-xs-11.col-sm-10.col-md-5
										input.form-control.form-control-inline(type="number", name="Ausrüstung.Fernkampf[{index}][TP][dk][]", min="0", step="1", title="wenn unterhalb der Mindestreichweite: 0")
										|  /
										input.form-control.form-control-inline(type="number", name="Ausrüstung.Fernkampf[{index}][TP][dk][]", min="0", step="1")
										|  /
										input.form-control.form-control-inline(type="number", name="Ausrüstung.Fernkampf[{index}][TP][dk][]", min="0", step="1")
										|  /
										input.form-control.form-control-inline(type="number", name="Ausrüstung.Fernkampf[{index}][TP][dk][]", min="0", step="1")
										|  /
										input.form-control.form-control-inline(type="number", name="Ausrüstung.Fernkampf[{index}][TP][dk][]", min="0", step="1")
									label.control-label.col-xs-1.col-sm-2.col-md-1 TP+
									.col-xs-11.col-sm-10.col-md-5
										input.form-control.form-control-inline(type="number", name="Ausrüstung.Fernkampf[{index}][TP][dkMod][]")
										|  /
										input.form-control.form-control-inline(type="number", name="Ausrüstung.Fernkampf[{index}][TP][dkMod][]")
										|  /
										input.form-control.form-control-inline(type="number", name="Ausrüstung.Fernkampf[{index}][TP][dkMod][]")
										|  /
										input.form-control.form-control-inline(type="number", name="Ausrüstung.Fernkampf[{index}][TP][dkMod][]")
										|  /
										input.form-control.form-control-inline(type="number", name="Ausrüstung.Fernkampf[{index}][TP][dkMod][]")
							.panel-footer.text-right
								a.btn.btn-default.del Waffe löschen
						.row
							.col-lg-12 &nbsp;
						.row.well.text-center
							.col-xs-4.col-xs-offset-1.col-lg-3.col-lg-offset-2
								button.btn.btn-success.form-control(type="submit") speichern
							.col-xs-4.col-xs-offset-2.col-lg-3
								button.btn.btn-warning.form-control(type="button") neue Waffe
					form.row.well(action="/waffen/Fernkampf/"+_Held._id, method="post", accept-charset="utf-8")
						.col-xs-8.col-xs-offset-2.col-sm-6.col-sm-offset-3.col-md-4.col-md-offset-4.text-center
							input(type="hidden", name="_method", value="delete")
							button.btn.btn-danger.form-control(type="submit") alle Fernkampfwaffen löschen
		script#save.
			$('#tab-header').on("click", "a", function (evt) {
				evt.preventDefault();
				$(this).tab("show");
			});
			$('#tab-header a:first').tab("show");
		//script(src="/edit-waffen.js")
