@import url("show.css");

button[type='submit'],
button[type='reset'] { 
	width: 20em; 
	height: 2em; 
	margin-top: 2em;
}

.vor-nach {
	width: 49%;
	list-style-type: none;
	padding: 0;
}
.vor-nach ul {
	list-style-type: none;
}
.vor-nach li {
	padding: 0.5em 1em;
}
.vor-nach > li:nth-child(odd) {
	background-color: #eee;
}
.vor-nach input[type="number"] { 
	float: right; 
}
.vor-nach select,
.vor-nach div {
	width: 50%;
}
.vor-nach div > input {
	width: 100%;
}

.fullSize { 
	width: 100%; 
}
.halfSize { 
	width: 50%; 
}
.top-link {
	float: right;
	padding-right: 1em;
	font-weight: bold;
	color: white;
	text-decoration: none;
}

input, select, textarea { 
	font-family: monospace; 
}
input[type="number"] { 
	text-align: center; 
	width: 5em; 
}
input[type="text"] { 
	padding-left: 0.2em;
}
