nav {
	background-color: #eee;
	padding: 0;
	margin:  0;
	position: fixed;
	top: 0;
	width: 100%;
}
#main-menu {
}
#main-menu, #main-menu ul {
	padding: 0;
	margin:  0;
	list-style: none;
}
#main-menu > li {
	float: left;
	/*width: 20em;*/
	width: 25%;
}
#main-menu > li > a {
	text-align: center;
}
#main-menu li li {
	float: left;
	width: 100%;
}
#main-menu a {
	display: block;
	/*width: 14em;*/
	text-decoration: none;
	color: black;
	background-color: #eee;
	font-weight: bold;
	padding: 0.5em 3em;
}
#main-menu a[href]:hover {
	color: #eee;
	background-color: black;
}
#main-menu ul a {
}
#main-menu li ul {
	position: absolute;
	width:    25%;		/* same as width (#main-menu > li) */
	left:    -999em;
}
#main-menu li:hover ul {
	left: auto;
}