body { 
	font-family: sans-serif; padding: 1em; 
}
.mitte { 
	text-align: center; 
}
.links { 
	text-align: left; 
}
.rechts {
	text-align: right;
}
.fl_links  { 
	float: left; 
}
.fl_rechts  { 
	float: right; 
}
.clearfix {
	clear: both;
}
.fullSize { 
	width: 100%; 
}
.halfSize { 
	width: 50%; 
}
.size15 { 
	width: 15em; 
	margin: 0 0.5em; 
}
.size30 { 
	width: 30em; 
	margin: 0 0.5em; 
}
.vor_nach {
	width: 45%;
}
.vor_nach input[type="number"] { 
	float: right; 
}
.vor_nach > li:nth-child(odd) { 
	background-color: #eee; 
}
.pro_con {
	width: 45%;
}
.pro_con input {
	width: 100%;
}
.floatLabel label  { 
	float: left; width: 10em; 
}
fieldset { 
	margin: 2em; 
	padding: 1em 5em; 
	border-radius: 2em; 
}
ul { 
	list-style-type: none;  
	padding: 0; 
}
ul ul { 
	padding-left: 2em; 
}
li { 
	padding: 0.3em 0; 
	clear: both; 
}
legend { 
	font-weight: bold; 
}
table { 
	width: 100%; 
}
th { 
	font-weight: bold; 
}
td { 
	text-align: center; 
	padding: 0.2em 0.5em; 
}
td:first-child { 
	text-align: left; 
}
tbody tr:nth-child(odd) { 
	background-color: #eee; 
}
td input[type="number"] { 
	text-align: center; 
}
input[type="number"] { 
	width: 5em; 
}
input { 
	font-family: monospace; 
}
button { 
	width: 10em; 
	height: 2em; 
	margin: 1em 3em; 
}
