/* table formatting */
.data-section{
	padding: 1em 2em;
	border: 2px solid silver;
	border-radius: 0 0 1em 1em;
	width: 100%;
}
.data-section td,
.data-section th {
	padding: 0.2em 1em;
}
.data-section th {
	vertical-align: top;
}
.data-section caption {
	border: inherit; 
	border-radius: 1em 1em 0 0; 
	background-color: silver;
	color: white;
	font-size: 1.5em;
	font-weight: bold;
	padding: 0.2em;
}
.talente tbody tr:nth-child(odd) {
	background-color: #eee;
}
.talente tbody td {
	text-align: center;
}
.talente tbody td:first-child {
	text-align: left;
}
.eigenschaften th {
	background-color: #eee;
}
.eigenschaften td {
	border: 1px solid #eee;
}
/* common classes */
.rechts {
	text-align: right;
}
.mitte {
	text-align: center;
}
.links {
	text-align: left;
}
.fl-links  { 
	float: left; 
}
.fl-rechts  { 
	float: right; 
}
.fl-clear {
	clear: both;
}
/* element styling */
*[title] {
	cursor: help;
}
body {
	padding: 0;
	padding-bottom: 3em;
	margin: 0;
	font-family: Georgia, sans-serif;
}
h1 {
	font-size: 3em;
}
h1 a {
	text-decoration: none;
	color: inherit;
}
table {
	margin-top: 2em;
	table-layout: fixed;
}
section, header, footer, main {
	padding: 0 3em;
}
header {
	padding-top: 3em;
}
