/* classes */
.mitte {
	text-align: center;
}
.links {
	text-align: left;
}
.indent {
	margin: 0;
	margin-left: 10em;
	padding: 0;
}
.primary-field {
	width: 30em;
}
.submitter button {
	width:  40%;
	height: 2.5em;
	margin: 0 1em;
}

/* elements */
body {
	font-family: Georgia, sans-serif;
	padding-top: 1em;
}
*[title] {
	cursor: help;
}


/* forms */
form {
	padding-left: 5em;
}
fieldset {
	display: inline-block;
	padding: 2em 4em;
	margin:  1em;
	border-radius: 3em;
	min-width: 40em;
}
fieldset > div {
	padding: 0.5em 0;
}
div > label {
	float: left;
	width: 10em;
}

/* lists */
ul {
	list-style-type: none;
}
li {
	padding-top: 0.2em;
	padding-bottom: 0.2em;
}

#logout {
	float: right;
}
#logout a {
	text-decoration: none;
	color: white;
	background-color: silver;
	border: 1px solid gray;
	border-radius: 0.5em;
	padding: 0.5em;
	font-weight: bold;
}
#logout a:hover {
	background-color: black;
}
