doctype html
html(lang="de")
	head
		meta(charset="utf-8")
		title DCM – DSA Charakter Manager
		link(rel="stylesheet", href="//netdna.bootstrapcdn.com/bootswatch/3.1.1/spacelab/bootstrap.min.css")
		link(rel="stylesheet", href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css")
	body
		nav.navbar.navbar-default(role="navigation")
			.container
				ul.nav.navbar-nav
					li
						a.active Charaktere
					li
						a(href="/freunde") Freunde
				ul.nav.navbar-nav.navbar-right
					li
						a(href="/about") Impressum
					li
						a(href="/logout")
							span.fa.fa-sign-out
							| Abmelden
		.container
			.page-header.text-center
				h1
					span.fa.fa-user &nbsp;
					span Charaktere &nbsp;
					span#char-count.badge=_User.chars.length
			.container
				ul.list-group
					li.list-group-item
