include ../inc-mixins

doctype html
html(lang="de")
	head
		include ../inc-bootstrap
		title DCM – DSA Charakter Manager
		style.
			.restore {
				padding: 5px 10px;
				border-radius: 7px;
			}
			.restore:hover {
				background-color: green;
				color: white;
			}
			.gap-bottom {
				padding-bottom: 1.5em;
			}
	body
		include inc-nav
		header.container
			.page-header.text-center
				h1
					span.fa.fa-trash-o &nbsp;
					span Gelöschte Helden &nbsp;
		main.container
			ul.nav.nav-pills.nav-justified.gap-bottom
				li
					a(href="/neu") 
						span.fa.fa-edit
						|  Neuen Helden erstellen
				li
					a(title="Helden-Software XML")
						span.fa.fa-upload
						|  Helden importieren
				li
					a(href="/helden")
						span.fa.fa-file-text-o
						|  aktive Helden
					
			section.panel.panel-default
				.panel-heading
					h4 Meine Papierkorb
				ul#my-chars.list-group
					each __held in _Chars
						li.list-group-item
							span= __held.Person.Name + " ( " + __held.AP.frei + " / " + __held.AP.alle.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ".") + " )"
							span.fa.fa-check-square-o.pull-right.restore(title="Held wiederherstellen", data-id=__held._id.toString())
			script.
				$('.restore').on("click", function() {
					var $row = $(this).closest('li');
					$.post(
						"/held/" + this.dataset.id, 
						{ _method: "put" }
					).done(function() {
						$row.remove();
					});
				});
